<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%
       var redisPrompt;
       if(redis) {
          redisPrompt = "<p>Redis connected</p>"
        } else {
          redisPrompt = "<p>Redis Disconnected. Using backend</p>";
        }
    %>
    <%- redisPrompt %>
    <p>Thanks for voting. <a href='/view'>Go back</a></p>
  </body>
</html>
