<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Thanks for voting. <a href='/view'>Go back</a></p>
  </body>
</html>
