<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Total votes count</h1>
    <h2> Votes: <%= votes %></h2>
    <p><a href='/vote'>Vote here</a></p>
  </body>
</html>
